.settings {
    margin-top: 40px;
    margin-left: 280px;
    font-size: 28px;
}

.settings span {
    padding-left: 10px;
}

input[type="number"]
{
    font-size:28px;
}

.settings button {
    margin-top: 10px;
    font-size: 18px;
    display: block;
    padding: 10px;
}