.input_video {
	display: none;
	position: absolute;
}

.output_canvas {
	position: absolute;
}

.maldos-web-game {
	margin-left: 260px !important;
}

.web-game-start-btn {
	/* /* position: absolute; */
	/* left: 580px; */
	/* top: 200px; */
}

.web-game-start-btn button {
    width: 300px;
    border: none;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    background-color: #0e4bf1;
    padding: 14px 40px;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.web-game-start-btn button.hidden {
    display: none;
}

.web-game-start-btn button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.web-game-start-btn button span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.web-game-start-btn button:hover span {
    padding-right: 25px;
}

.web-game-start-btn button:hover span:after {
    opacity: 1;
    right: 0;
}

.web-game-start-btn button:hover {
    background-color: #0e4bf1;
}

.web-game-start-btn.hidden {
    display: none;
}